
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  margin: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background-image: url(phone.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.btn{
  padding: 10px;margin:5px;width: 40px;height: 40px;
}
.play {  background-image: url(play.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px;
}
.pause{  background-image: url(pause.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:35px;
}
.reset{  background-image: url(reset.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:30px;
}
